ml-service/n8n-workflow-ready.json
{
  "name": "Parkinson — Pipeline Completo (listo para usar)",
  "nodes": [
    {
      "parameters": {
        "content": "# PARKINSON — PIPELINE LISTO\n\n## Antes de ejecutar\n1. Crear credencial Postgres en n8n:\n   - Host: `5.78.157.191`\n   - Port: `5432`\n   - Database: `tesis_parkinson`\n   - User: `giomar`\n   - Password: (ver application-dev.properties)\n   - Nombre de credencial: **Postgres Parkinson**\n2. Ejecutar el SQL de la nota amarilla para crear las tablas\n3. Levantar ml-service en puerto 8000\n4. (Opcional) Configurar ALERT_WEBHOOK_URL para alertas\n\n## Endpoints ml-service (FastAPI :8000)\n- `POST /v1/audio/validate`\n- `POST /v1/features/acoustic`\n- `POST /v1/nlp/transcribe-and-metrics`\n- `POST /v1/model/predict`\n\n## Docs interactiva\nhttp://localhost:8000/docs",
        "height": 620,
        "width": 520,
        "color": 3
      },
      "id": "8b974df8-dad6-4b4d-aafe-8a9398676b8e",
      "name": "NOTA — LEER PRIMERO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -672
      ]
    },
    {
      "parameters": {
        "content": "## SQL — Ejecutar en PostgreSQL antes de usar\n\nConectar a `tesis_parkinson` en `5.78.157.191:5432` y ejecutar:\n\n```sql\nCREATE TABLE IF NOT EXISTS analysis_sessions (\n  session_id UUID PRIMARY KEY,\n  patient_id UUID NOT NULL,\n  status TEXT NOT NULL DEFAULT 'received',\n  created_at TIMESTAMPTZ DEFAULT NOW(),\n  updated_at TIMESTAMPTZ\n);\n\nCREATE TABLE IF NOT EXISTS analysis_results (\n  id BIGSERIAL PRIMARY KEY,\n  session_id UUID NOT NULL REFERENCES analysis_sessions(session_id),\n  patient_id UUID NOT NULL,\n  p_parkinson DOUBLE PRECISION NOT NULL,\n  ci_low DOUBLE PRECISION,\n  ci_high DOUBLE PRECISION,\n  risk_band TEXT,\n  top_features JSONB,\n  created_at TIMESTAMPTZ DEFAULT NOW()\n);\n\nCREATE INDEX IF NOT EXISTS idx_results_session ON analysis_results(session_id);\nCREATE INDEX IF NOT EXISTS idx_results_patient ON analysis_results(patient_id);\nCREATE INDEX IF NOT EXISTS idx_sessions_patient ON analysis_sessions(patient_id);\n```",
        "height": 560,
        "width": 520,
        "color": 5
      },
      "id": "d473e612-7429-439c-a054-5fff37adbd3b",
      "name": "NOTA — SQL (ejecutar primero)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Body webhook — POST /webhook/parkinson/analyze\n```json\n{\n  \"session_id\": \"550e8400-e29b-41d4-a716-446655440000\",\n  \"patient_id\": \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\",\n  \"audio_uri\": \"https://storage.ejemplo.com/audio.wav\",\n  \"physician_id\": \"uuid-opcional\",\n  \"clinical\": {\n    \"age\": 72,\n    \"sex\": \"M\",\n    \"symptom_onset_months\": 18,\n    \"medication\": \"levodopa\"\n  }\n}\n```\n\n## Respuesta\n```json\n{\n  \"ok\": true,\n  \"session_id\": \"...\",\n  \"p_parkinson\": 0.82,\n  \"ci\": { \"low\": 0.71, \"high\": 0.93 },\n  \"risk_band\": \"high\",\n  \"charts\": {\n    \"acoustic_png\": \"https://quickchart.io/...\",\n    \"linguistic_png\": \"https://quickchart.io/...\",\n    \"risk_png\": \"https://quickchart.io/...\"\n  },\n  \"disclaimer\": \"Soporte clínico; no sustituye juicio médico.\"\n}\n```\n\n## Error 500 \"No Respond to Webhook\"\nLos nodos **Respond** ya están en el flujo. Ese error aparece si **un nodo falla antes** (HTTP ml-service caído, Postgres, etc.) y la ejecución no llega al Respond. Este JSON conecta la salida **error** (Continue using error output) de los HTTP/Postgres críticos a **Postgres — Marcar sesión fallida** → **Respond — Error** para que el webhook siempre cierre la petición HTTP.",
        "height": 580,
        "width": 480,
        "color": 4
      },
      "id": "779aee73-2b79-435e-b17a-264c5f45b97e",
      "name": "NOTA — Contrato JSON",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4384,
        -768
      ]
    },
    {
      "parameters": {},
      "id": "dd3f41b1-16fe-41f1-9c68-e9202e6a3135",
      "name": "Manual — Probar sin webhook",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2432,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "session_id",
              "value": "550e8400-e29b-41d4-a716-446655440001",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "patient_id",
              "value": "6ba7b810-9dad-11d1-80b4-00c04fd430c9",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "audio_uri",
              "value": "https://ejemplo.local/audio-prueba.wav",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "physician_id",
              "value": "11111111-2222-3333-4444-555555555555",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "clinical",
              "value": "={{ { \"age\": 70, \"sex\": \"F\", \"symptom_onset_months\": 24, \"medication\": \"levodopa\" } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "aa37f84e-87c4-4d1d-b9e1-b5a848b4e26e",
      "name": "Set — Datos MOCK (edítalos)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        -48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parkinson/analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "97cf7468-02d0-45db-8550-cd2267054fbb",
      "name": "Webhook — Inicio análisis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2672,
        -272
      ],
      "webhookId": "parkinson-analyze-allinone"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body ?? $json;\nconst need = ['session_id', 'patient_id', 'audio_uri'];\nfor (const k of need) {\n  if (!b[k]) throw new Error(`Falta campo obligatorio: ${k}`);\n}\nreturn [{\n  json: {\n    session_id: String(b.session_id),\n    patient_id: String(b.patient_id),\n    physician_id: b.physician_id ? String(b.physician_id) : null,\n    audio_uri: String(b.audio_uri),\n    clinical: b.clinical && typeof b.clinical === 'object' ? b.clinical : {},\n    meta: { received_at: new Date().toISOString() }\n  }\n}];"
      },
      "id": "d80b612c-34ea-45e4-af40-eb15f5db0db1",
      "name": "Code — Validar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO analysis_sessions (session_id, patient_id, status, created_at)\nVALUES ('{{ $json.session_id }}'::uuid, '{{ $json.patient_id }}'::uuid, 'received', NOW())\nON CONFLICT (session_id) DO UPDATE SET status = 'received', updated_at = NOW();",
        "options": {}
      },
      "id": "c6e4ea4d-4ec4-4c24-9d9c-0d2ee08a92e6",
      "name": "Postgres — Registrar sesión",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        -272
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "postgres-parkinson",
          "name": "Postgres Parkinson"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/v1/audio/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id, patient_id: $json.patient_id, audio_uri: $json.audio_uri }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "3c62fde5-803f-453c-9953-57e25a229845",
      "name": "HTTP — Validar calidad audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        -272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/v1/features/acoustic",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code — Validar payload').first().json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "61b4b2f0-cb9f-423a-9aea-bb87061d2b5a",
      "name": "HTTP — Análisis acústico (Praat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        -384
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/v1/nlp/transcribe-and-metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code — Validar payload').first().json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "2d0c182a-f545-4eb5-9418-dd917ac8a177",
      "name": "HTTP — Whisper + NLP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        -144
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "eaa12134-d54f-46c9-938a-8adb8dac2fa9",
      "name": "Merge — Acústico + NLP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3872,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $('Code — Validar payload').first().json;\nconst items = $input.all();\nlet acoustic = {};\nlet nlp = {};\nfor (const it of items) {\n  const j = it.json;\n  if (j.f0_mean != null || j.jitter != null || j.opensmile) acoustic = j;\n  if (j.transcript != null || j.ttr != null || j.whisper) nlp = j;\n}\nif (!acoustic || Object.keys(acoustic).length === 0) acoustic = items[0]?.json ?? {};\nif (!nlp || Object.keys(nlp).length === 0) nlp = items[1]?.json ?? {};\nreturn [{\n  json: {\n    session_id: root.session_id,\n    patient_id: root.patient_id,\n    clinical: root.clinical,\n    acoustic,\n    nlp\n  }\n}];"
      },
      "id": "35a1b154-a253-46b4-8ad4-e55ef1224fb7",
      "name": "Code — Empaquetar fusión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        -272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/v1/model/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "226ae881-3613-42bc-b1d4-7ca4ee19fa8a",
      "name": "HTTP — Modelo probabilístico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4352,
        -272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO analysis_results (session_id, patient_id, p_parkinson, ci_low, ci_high, risk_band, top_features, created_at)\nVALUES (\n  '{{ $json.session_id }}'::uuid,\n  '{{ $json.patient_id }}'::uuid,\n  {{ $json.p_parkinson }},\n  {{ $json.ci_low }},\n  {{ $json.ci_high }},\n  '{{ $json.risk_band }}',\n  '{{ JSON.stringify($json.top_features ?? []) }}'::jsonb,\n  NOW()\n);\n\nUPDATE analysis_sessions SET status = 'completed', updated_at = NOW()\nWHERE session_id = '{{ $json.session_id }}'::uuid;",
        "options": {}
      },
      "id": "033b9c6d-bb06-48f0-bd28-e808e7276683",
      "name": "Postgres — Guardar predicción",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4592,
        -272
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "postgres": {
          "id": "postgres-parkinson",
          "name": "Postgres Parkinson"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\nconst f0 = p.acoustic?.f0_mean ?? p.f0_mean ?? 0;\nconst jit = (p.acoustic?.jitter ?? p.jitter ?? 0) * 100;\nconst shim = (p.acoustic?.shimmer ?? p.shimmer ?? 0) * 100;\nconst ttr = p.nlp?.ttr ?? p.ttr ?? 0;\nconst wpm = p.nlp?.words_per_min ?? p.words_per_min ?? 0;\nconst chartAcoustic = {\n  type: 'bar',\n  data: {\n    labels: ['F0 (Hz)', 'Jitter %', 'Shimmer %'],\n    datasets: [{\n      label: 'Acústico',\n      data: [Math.round(f0 * 10) / 10, Math.round(jit * 100) / 100, Math.round(shim * 100) / 100],\n      backgroundColor: ['#3b82f6', '#ef4444', '#f59e0b']\n    }]\n  },\n  options: { plugins: { title: { display: true, text: 'Resumen Acústico' } } }\n};\nconst chartLing = {\n  type: 'bar',\n  data: {\n    labels: ['TTR (diversidad)', 'Palabras/min'],\n    datasets: [{\n      label: 'Lingüístico',\n      data: [Math.round(ttr * 1000) / 1000, Math.round(wpm * 10) / 10],\n      backgroundColor: ['#8b5cf6', '#10b981']\n    }]\n  },\n  options: { plugins: { title: { display: true, text: 'Métricas NLP' } } }\n};\nconst prob = (p.p_parkinson ?? p.probability ?? 0);\nconst pct = Math.round(prob * 1000) / 10;\nconst chartRisk = {\n  type: 'doughnut',\n  data: {\n    labels: ['Riesgo Parkinson', 'Resto'],\n    datasets: [{\n      data: [pct, Math.max(0, 100 - pct)],\n      backgroundColor: [pct >= 70 ? '#ef4444' : pct >= 50 ? '#f59e0b' : '#10b981', '#e5e7eb']\n    }]\n  },\n  options: { plugins: { title: { display: true, text: `Probabilidad estimada: ${pct}%` } } }\n};\nconst enc = (c) => encodeURIComponent(JSON.stringify(c));\nreturn [{\n  json: {\n    ...p,\n    charts: {\n      acoustic_png: `https://quickchart.io/chart?c=${enc(chartAcoustic)}&w=500&h=300&format=png`,\n      linguistic_png: `https://quickchart.io/chart?c=${enc(chartLing)}&w=500&h=300&format=png`,\n      risk_png: `https://quickchart.io/chart?c=${enc(chartRisk)}&w=400&h=400&format=png`\n    }\n  }\n}];"
      },
      "id": "1f38b739-4abc-43cc-ab34-f23c7d882f61",
      "name": "Code — Generar gráficos (QuickChart)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        -272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "risk-high",
              "leftValue": "={{ $json.p_parkinson ?? $json.probability ?? 0 }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fac772d-b3fa-476d-b7e6-ac77867ce66b",
      "name": "IF — Riesgo alto (≥ 0.7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5072,
        -272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://TU-WEBHOOK-DE-ALERTAS.example.com",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'parkinson_high_risk', session_id: $json.session_id, patient_id: $json.patient_id, probability: $json.p_parkinson, risk_band: $json.risk_band, ci: { low: $json.ci_low, high: $json.ci_high }, charts: $json.charts, timestamp: new Date().toISOString() }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "b54df959-1819-4eea-9ae3-224bd84962af",
      "name": "HTTP — Alerta riesgo alto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5344,
        -416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, session_id: $json.session_id, patient_id: $json.patient_id, p_parkinson: $json.p_parkinson, ci: { low: $json.ci_low, high: $json.ci_high }, risk_band: $json.risk_band, top_features: $json.top_features, charts: $json.charts, disclaimer: 'Herramienta de soporte clínico. No sustituye el juicio médico profesional.' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6c33150b-bfd2-4c61-a436-e39197bd916a",
      "name": "Respond — JSON final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5632,
        -256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out",
              "name": "resultado",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "06799165-89c8-49d6-a4cb-08281256866a",
      "name": "Set — Salida prueba MANUAL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5552,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE analysis_sessions SET status = 'failed', updated_at = NOW()\nWHERE session_id = '{{ $('Code — Validar payload').first().json.session_id }}'::uuid;",
        "options": {}
      },
      "id": "err-pg-001",
      "name": "Postgres — Marcar sesión fallida",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4352,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-parkinson",
          "name": "Postgres Parkinson"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, session_id: $('Code — Validar payload').first().json.session_id, error: 'Error interno en el pipeline de análisis. Revise los logs de n8n.', timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "err-respond-001",
      "name": "Respond — Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4592,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual — Probar sin webhook": {
      "main": [
        [
          {
            "node": "Set — Datos MOCK (edítalos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Datos MOCK (edítalos)": {
      "main": [
        [
          {
            "node": "Code — Validar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Inicio análisis": {
      "main": [
        [
          {
            "node": "Code — Validar payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validar payload": {
      "main": [
        [
          {
            "node": "Postgres — Registrar sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Registrar sesión": {
      "main": [
        [
          {
            "node": "HTTP — Validar calidad audio",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Validar calidad audio": {
      "main": [
        [
          {
            "node": "HTTP — Análisis acústico (Praat)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP — Whisper + NLP",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Análisis acústico (Praat)": {
      "main": [
        [
          {
            "node": "Merge — Acústico + NLP",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Whisper + NLP": {
      "main": [
        [
          {
            "node": "Merge — Acústico + NLP",
            "type": "main",
            "index": 1
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Acústico + NLP": {
      "main": [
        [
          {
            "node": "Code — Empaquetar fusión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Empaquetar fusión": {
      "main": [
        [
          {
            "node": "HTTP — Modelo probabilístico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Modelo probabilístico": {
      "main": [
        [
          {
            "node": "Postgres — Guardar predicción",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Guardar predicción": {
      "main": [
        [
          {
            "node": "Code — Generar gráficos (QuickChart)",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Postgres — Marcar sesión fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Generar gráficos (QuickChart)": {
      "main": [
        [
          {
            "node": "IF — Riesgo alto (≥ 0.7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Riesgo alto (≥ 0.7)": {
      "main": [
        [
          {
            "node": "HTTP — Alerta riesgo alto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — JSON final",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set — Salida prueba MANUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Alerta riesgo alto": {
      "main": [
        [
          {
            "node": "Respond — JSON final",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set — Salida prueba MANUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres — Marcar sesión fallida": {
      "main": [
        [
          {
            "node": "Respond — Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2.0.0-ready",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "e400ac5c7cf3a2a5acd3280f3d85c3afb3887a7368b5d8fcd79917365fbc65d8"
  },
  "id": "p5CojL6bzTW51hgb",
  "tags": [
    {
      "id": "eiXWRv3Tqp0Jb6ly",
      "name": "TodoEnUno"
    },
    {
      "id": "gh9hzBPDY4M8sDp8",
      "name": "Parkinson"
    },
    {
      "id": "wFNT1heNGhMjmUOa",
      "name": "Tesis"
    }
  ]
}
